.tweet-button {
font-family: 'Bungee', sans-serif;
color: #FFFFFF;
background-color: #4056A1;
}

.tweet-button:hover {
  box-shadow: 4px 4px 4px #4056A1;
}

#tweet-text {
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  resize: none;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 5px;
  border-color: black;
  border-style: groove;
  background-color: #FFFFFF;
}

.counter {
  float: right;
  font-family: 'Bungee', sans-serif;
}

.turning-red {
  color: crimson;
}

.error-container {
display: flex;
justify-content: center;
}

textarea:focus {
  outline: none;
}

#error {
  display: none;
  align-self: center;
  justify-self: center;
}

.error {
  display: flex;
  position: relative;
  width:fit-content;
  justify-content: center;
  align-items: center;
  font-weight:100;
  color:crimson;
  border-color: crimson;
  border-style: groove;
  box-shadow : 4px 4px 4px black;
}

@media screen and (min-width: 768px) {
  .container {
    margin-right: 5vw;
    margin-top: -240px;
  }
}