.tweetContainer {
  width: 100%;
}

.tweet {
  font-family: 'Source Sans Pro', san-serif;
  border: 5px solid black;
  padding: 2%;
  margin: 2%;
  
}
.tweet:hover {
  box-shadow: 8px 8px 8px #4056A1;
} 

.tweet header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px; */
}

.tweet header span {
  display: flex;
  align-items: center;  
}

#content {
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  border-bottom: 5px solid black;
  word-wrap: break-word;
}
.handle {
  font-weight: bold;
  color: #9dafea;
  font-size: 23px;
}



.tweet footer {
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  /* not spreading full width */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#icons {
  display: flex;
  flex-direction: row;

}

#icons :hover {
  color: red;
}

#icons .fa-solid {
  padding: 5px;
}


